@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Mochiy+Pop+One&display=swap');
/*
font-family: 'Permanent Marker', cursive;
font-family: 'Mochiy Pop One', sans-serif;
*/
body {
    background-image: url(/assets/images/b-bamboo.jpeg);
    background-size: cover;
    color: #c1e1b5;
    font-family: 'Inconsolata', monospace;
}

/* -------------------------- header -------------------------- */
header {
    display: flex;
    justify-content: center;

    text-transform: uppercase;
    letter-spacing: 1.5rem;
    font-size: 2rem;

    font-family: 'Mochiy Pop One', sans-serif;
}

.highlight {
    text-shadow: rgb(60, 255, 0) 1px 0 10px;
}
/* -------------------------- Rules & Reset-Game ----------------------- */
#main-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
    gap: 2rem;
}

.game-options button {
    background: none;
    border: none;
    outline: none;

    cursor: pointer;

    font-size: 2rem;
    transition: 300ms;

    color: #c1e1b5;
}

.game-options button:hover {
    transform: scale(1.1);
    transition: 300ms;
    text-shadow: rgb(60, 255, 0) 1px 0 10px;
}

/* -------------------------- Game Icons ----------------------- */
.game-icons {
    display: flex;
    justify-content: space-evenly;
}

.icons {
    background: none;
    border: 4px solid;
    border-radius: 50%;
    padding: 1.5rem;
    outline: none;

    cursor: pointer;

    font-size: 4rem;
    transition: 300ms;

    color: #c1e1b5;
}

.icons:hover {
    transform: scale(1.1);
    box-shadow: rgb(60, 255, 0) 1px 0 10px;
    background-color: #c1e1b536;
}

/* -------------------------- Score ----------------------- */
.result {
    border: 4px solid;
    box-shadow: rgb(60, 255, 0) 1px 0 10px;
    background-color: #c1e1b536;

    margin-left: 17rem;
    margin-right: 17rem;
    margin-top: 2rem;
    padding-bottom: 10rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.center-span {
    text-align: center;
}
/* -------------------------- Pop-up for Rules ----------------------- */
#rules-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    visibility: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 55vw;
    height: 55vh;

    background-color: #1f1f1f;
    border: 4px solid #c1e1b5;
    margin-top: 2.5rem;
    padding: 5rem;

    text-transform: uppercase;
}

h3 {
    margin: 0;
    font-size: 2.5rem;
}

.heading-button {
    border: none;
    background: none;
    cursor: pointer;
    color: #c1e1b5;
    font-size: 1.5rem;
    border: 2px solid;
    background-color: #c1e1b543;
    text-transform: uppercase;
}

.rules-list {
    list-style: none;
    font-size: 1.5rem;
    padding: 0;
}

li {
    margin-top: 2rem;
}

/* -------------------------- End Game ----------------------- */
/* #end-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    width: 62vw;
    height: 36vh;

    visibility: hidden;

    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #1f1f1f;
    border: 4px solid #c1e1b5;

    text-align: center;
    transition: scale(1.1);

    text-transform: uppercase;
} */

.end-game-button {
    font-size: 1.5rem;
    border: 2px solid #c1e1b5;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    color: #c1e1b5;
}

.end-game-button:hover {
    transform: scale(1.1);
    box-shadow: rgb(60, 255, 0) 1px 0 10px;
    background-color: #c1e1b55f;
}
/* -------------------------- Footer ----------------------- */
footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

footer a {
    text-decoration: none;
    font-size: 2rem;
    text-shadow: rgb(60, 255, 0) 1px 0 10px;
    color: #c1e1b5;
}

/* -------------------------- Image history (js), size & opacity ----------------------- */
img {
    width: 10vw;
    height: 17vh;
}

.result-selection.false {
    opacity: 0.5;
}